:root {
    --size: 0.8rem;
    --color-primary: #B9D238;
    --color-background: #000E13;
    --secondary-background: #F5F5F5;
    --color-black-heavy: #000;
    --color-white: #ffffff;
    --color-red: #e74c3c;
    --color-green: #2ecc71;
}
