:root {
    --size: 0.8rem;
    --color-primary: #b9d238;
    --color-background: #000e13;
    --secondary-background: #f5f5f5;
    --color-black-heavy: #000;
    --color-white: #ffffff;
    --color-red: #e74c3c;
    --color-green: #2ecc71;
}
